### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ipynb files
.ipynb_checkpoints/

### JetBrains
# idea folder
.idea

### CIFAR dataset
notebooks/CIFAR100/
notebooks/CIFAR10/